body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(34, 34, 34);
    color: white;
}
button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

#reset-button-box{
    display: flex;
    flex-direction: column;
    align-items: end;
    position: fixed;
    bottom: 0;
    right:0;
}
#reset-button,#restart-button{
    background: none;
    border: none;
}
h1{
    padding-left: 5%;
}
div>ul{
    padding-left: 3%;
}
#video-box{
    width: 90%;
    margin: auto;
}
video{
    width: 100%;
}
#score-window{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin:auto;
    max-width: 600px;
}

div>h4{
    margin-bottom: 8px;
}
div>p{
    margin-top: 0px;
    margin-bottom: 0px;
}

#current-score,#high-score,#tries-left{
    color: rgb(204, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
#answer-box{
    width: 80%;
    margin: auto;
}
ul{
    list-style-type: none;
}
#submit-button-box{
    display: flex;
    justify-content: end;
}

#results-box,#correct-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correctLi{
    background-color: rgb(204, 0, 0);
    animation: fadein 0.5s ease-in;
}
@keyframes fadein {
    0%{background:  rgba(204, 0, 0, 0);}
    25%{background: rgba(204, 0, 0, 0.25);}
    50%{background: rgba(204, 0, 0, 0.5);}
    75%{background: rgba(204, 0, 0, 0.75);}
    100%{background:rgba(204, 0, 0, 1);}
}

@media (min-width: 400px){
    #answer-box{
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 800px){
    h1{
        display: flex;
        justify-content: center;
        padding-right: 440px;
    }
    #video-box{
        max-width: 720px;      
    }
    #answer-box{
        width: 500px;
        margin: auto;
    }
}

@media (min-width: 1300px ){
    header{
        display: flex;
        justify-items: start;
    }
    #wrapper{
        display: flex;
        flex-direction: column;
        margin-left: 10%
    }
    #main-content{
        display: flex;
        align-items: center;
        max-width: 2000px;
    }
    #video-box{
        max-width: 100%;      
    }
    #results-box,#correct-name{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

#loading-box{
    display: flex;
    justify-content: center;
}

.lds-ring {
    display: inline-block;
    margin: auto;
    padding: auto;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .input-container {
    position: relative;
    width: 90%;
    height: 4.4em;
    border-radius: 5px;
  }

  #input {
    outline: none;
    border: none;
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: inherit;
    color:white;
    font-size: 25px;
    padding: 0 18px;
    z-index: 3;
  }

  #suggestion {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 18px;
    font-size: 25px;
    color: #868686;
  }

  span{
    display: inline-block;
    color: rgb(204, 0, 0);
  }